ACTION=="add", SUBSYSTEMS=="input", ATTRS{name}=="PLAYSTATION(R)3 Controller", TAG+="systemd", ENV{SYSTEMD_WANTS}="sixaxis@%p.service"
ACTION=="add", SUBSYSTEMS=="input", ATTRS{name}=="Sony PLAYSTATION(R)3 Controller", TAG+="systemd", ENV{SYSTEMD_WANTS}="sixaxis@%p.service"
ACTION=="add", SUBSYSTEMS=="input", ATTRS{name}=="PS(R) Gamepad", TAG+="systemd", ENV{SYSTEMD_WANTS}="sixaxis@%p.service"
ACTION=="add", SUBSYSTEMS=="input", ATTRS{name}=="SHANWAN PS3 GamePad", TAG+="systemd", ENV{SYSTEMD_WANTS}="sixaxis@%p.service"
